@page "/"
@inject IJSRuntime JSRuntime
<!--Index.razor-->

@using Radzen.Blazor;


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />





<RadzenButton Text="Create PDF" ButtonStyle="ButtonStyle.Success" Click="GetData" Style="width: 200px; height: 50px; font-size: 1.25rem;" />

<p>@htmlData</p>

@code {
    private string htmlData;

    private async Task GetData()
    {
        htmlData = await GetPdfData();
        await JSRuntime.InvokeVoidAsync("printPdf", htmlData);
        Console.WriteLine(htmlData);  // ตรวจสอบว่าข้อมูล htmlData ถูกสร้างหรือไม่


    }


    private async Task<string> GetPdfData()
    {
        
        
        //สร้าง HTML สำหรับ PDF
        var InputHtml = $@"
<html>
<head>
    <style>
        h1 {{
            font-size: 25px;
            text-align: center;
        }}
        .content {{
            margin: 0 auto;
            width: 100%;
        }}
        .row {{
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
        }}
        .hidden-content {{
            display: none;
        }}
    </style>
</head>
<body>
    <div class='content'>
        <h1>ใบเสร็จ</h1>
        <div class='row'>
            <div>รายการ</div>
            <div>จำนวนเงิน</div>
        </div>
        <div class='row'>
            <div>สินค้า 1</div>
            <div>100.00</div>
        </div>
        <div class='row'>
            <div>สินค้า 2</div>
            <div>200.00</div>
        </div>
        <hr />
        <div class='row'>
            <div>รวมทั้งหมด</div>
            <div>300.00</div>
        </div>
    </div>
</body>
</html>";


        return InputHtml;
        
    }


}