@if (IsVisible)
{
    <div class="modal" style="display: block;">
        <div class="modal-content">
            <span class="close" @onclick="Close">&times;</span>
            <h4>Bookings on @Date.ToShortDateString()</h4>
            <p>08:00 - @Total08</p>
            <p>13:00 - @Total13</p>
        </div>
    </div>
}
@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }
    [Parameter] public DateTime Date { get; set; } // ประกาศตัวแปร Date
    [Parameter] public int Total08 { get; set; } // ประกาศตัวแปร Total08
    [Parameter] public int Total13 { get; set; } // ประกาศตัวแปร Total13

    private void Close()
    {
        IsVisible = false;
        IsVisibleChanged.InvokeAsync(IsVisible);
    }
}
