
.responsive-card[b-sq9wr84vik] {
    display: grid; /* เพิ่ม display: grid */
    grid-template-columns: repeat(3, 1fr); /* สามคอลัมน์ */
    grid-gap: 1rem; /* ระยะห่างระหว่างช่อง */
    border-radius: 20px;
    border: 1px solid #000;
    padding: 1rem;
}

@media (max-width: 480px) {
    .responsive-card[b-sq9wr84vik] {
        grid-template-columns: repeat(1, 1fr);
    }
}


