@page "/booking-queue"

@inject HttpClient Http
@using System.Net.Http.Json
@using QMS.Services.LocalStorage;
@using QMS.Shared.Employee
@inject SessionStorageService LocalStorageService
            

<div class="rz-p-2">
	<SetCounter />
</div>

<h1 class="text-center">Booking Queue</h1>
<div class="row">
	<aside class="col-md-4 p-lg-3 border-right border-muted">
		<ListQueueOnHome/>
	</aside>
	<div class="col-md-8 p-lg-3">
		<MenuHomePage/>
	</div>
</div>



